:root {
    --black: #2A2A2A;
    --gray_1: #959595;
    --gray_2: #ECECEE;
    --gray_3: #FAFAFA;
    --violet_1: #4D4AEA;
    --violet_2: #F4F3FF;
    --red_1: #D85A5A;
    --red_2: #FCEFEF;
    --green_1: #147129;
    --green_2: #ACD2B1;
    --green_3: #ECFBEB;
}