.modal {

    .ant-modal-content {
        background: #F9F9FD;

        .ant-modal-body {


            .modal-title {
                font-weight: 600;
                font-size: 19px;
                line-height: 23px;
            }

            .modal-title.modal-title_center {
                text-align: center;
            }
        }
    }
}