.wrapper {
    min-height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 7px 12px;

    .action {
        position: absolute;
        top: 0;
        right: 0;
    }

    .body {
        .label {
            margin-bottom: 2px;
        }

        .ex {
            font-size: 12px;
            line-height: 15px;    
            color: rgba(56, 56, 56, 0.5);
        }
    }
}