.wrapper {

    .label {
        margin-bottom: 2px;
        display: flex;
        align-items: center;
        color: var(--black);
        font-weight: 500;
        
        span {
            color: var(--violet_1);
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 100%;
            margin-left: 2px;
        }

    }

    .title {
        color: var(--violet_1);
    }
}