.wrapper {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
}

.wrapper.low {
    background: #EAFDEE;
    color: var(--green_1);
}

.wrapper.medium {
    background: rgba(253, 152, 0, 0.1);
    color: #FD9800;
}

.wrapper.high {
    color: #D85A5A;
    background: rgba(216, 90, 90, 0.1);
}

