.wrapper {

    .body {

        .tabs {
            margin-bottom: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #ECECEE;


            .tabs_body {
                display: flex;
                padding-top: 15px;
                .tabs_item {
                    padding: 0 15px;
                    padding-bottom: 15px;
                    position: relative;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    color: rgba(42, 42, 42, 0.5);
                    display: flex;
                    align-items: center;

                    .badge {
                        flex: 0 0 auto;
                        height: 24px;
                        border-radius: 100px;
                        background: #F9F9FD;
                        font-size: 12px;
                        line-height: 16px;
                        margin-left: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        color: var(--black) !important;
                        padding: 0 5px;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:after {
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: var(--violet_1);
                        content: '';
                        opacity: 0;
                        z-index: 2;
                    }
                }

                .tabs_item.active {
                    color: var(--violet_1);

                    &:after {
                        opacity: 1;
                    }
                }
            }

            .action {
                display: flex;
                align-items: center;
                margin-left: -4px;

                .action_item {  
                    margin: 0 4px;
                }
            }

        }

        .main {

            .filter {
                background: #F9F9FD;
                border-width: 2px 2px 1px 2px;
                border-style: solid;
                border-color: #ECECEE;
                border-radius: 12px 12px 0px 0px;
                padding: 15px 20px;

                .reset {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    height: 100%;

                    .reset_btn {
                        color: rgba(42, 42, 42, 0.8);
                        text-decoration: underline;
                        font-weight: 500;
                    }
                }
            }

            .pag {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 30px 0;
            }
        }
    }
}